{% extends 'account/base.html' %}
{% block content %}

    <div class="auth-form__icon auth-form__icon--reset-info">
        <i class="bi bi-shield-lock"></i>
    </div>

    <h2 class="auth-form__title auth-form__title--reset-info">Установка нового пароля</h2>

    {% if validlink %}
        <form method="post">
            {% csrf_token %}

            <div class="form-floating mb-3">
                <input type="password"
                       class="form-control {% if form.new_password1.errors %}is-invalid{% endif %}"
                       id="{{ form.new_password1.id_for_label }}"
                       name="{{ form.new_password1.html_name }}"
                       placeholder="Новый пароль"
                       required>
                <label for="{{ form.new_password1.id_for_label }}">Новый пароль</label>
                {% if form.new_password1.errors %}
                    <div class="invalid-feedback">
                        {{ form.new_password1.errors }}
                    </div>
                {% endif %}

            </div>

            <div class="form-floating mb-3">
                <input type="password"
                       class="form-control {% if form.new_password2.errors %}is-invalid{% endif %}"
                       id="{{ form.new_password2.id_for_label }}"
                       name="{{ form.new_password2.html_name }}"
                       placeholder="Подтверждение пароля"
                       required>
                <label for="{{ form.new_password2.id_for_label }}">Подтверждение пароля</label>
                {% if form.new_password2.errors %}
                    <div class="invalid-feedback">
                        {{ form.new_password2.errors }}
                    </div>
                {% endif %}
            </div>

            {% if form.new_password1.help_text %}
                <div class="info-box info-box--new_password">
                    <div class="info-box-title info-box-title--reset-info">
                        <i class="bi bi-info-circle"></i>
                        Рекомендации
                    </div>
                    {{ form.new_password1.help_text }}
                </div>

            {% endif %}

        
            <div class="d-grid gap-2 auth-btn">
                <button type="submit" class="btn btn-reset text-white">
                    Сохранить новый пароль
                </button>
            </div>
        </form>
    {% else %}

        <div class="info-box info-box--error info-box--reset-info">
            <div class="info-box-title info-box-title--error">
                <i class="bi bi-x-circle"></i>
                Срок действия ссылки истек
            </div>
            <p class="mb-0">
                Ссылка для сброса пароля недействительна.<br>Возможно, она уже была использована или устарела.
                Пожалуйста, запросите новую ссылку для сброса пароля.
            </p>
        </div>

        <p class="confirmation-text confirmation-text--complete">
            Пожалуйста, пройдите процесс восстановления пароля заново запросив новую ссылку.
        </p>


        <div class="text-center mt-3">
            <a href="{% url 'auth:password_reset' %}" class="btn btn-reset text-white btn-auth--reset-info">
                Запросить новую ссылку
            </a>
        </div>
    {% endif %}
{% endblock %}